@import "./common-func";
@import "./variables";
.product-right {
  border: 1px solid #ddd;
  text-align: center;
}

.color-variant {
  @include displayFlex(10px);
  width: 100px;
  margin: auto;
  li {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  li:nth-child(1) {
    background-color: rgb(91, 56, 123);
  }
  li:nth-child(2) {
    background-color: rgb(204, 51, 168);
  }
  li:nth-child(3) {
    background-color: rgb(27, 210, 227);
  }
}

.size-box {
  width: 160px;
  margin: auto;
  @include displayFlex(10px);
  li {
    padding-top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #999;
  }
}
