@import "./variables";
@import "./common-func";
.top-header {
  font-size: 14px;
  background-color: $secondaryColor;
  color: $pTextColor;
  .container {
    @include container(14px, 28px);
    @include displayFlex(0);
  }
}

.header-contact {
  @include displayFlex(25px);
}
